<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>choix page defaut</title>
</head>
<body>
    <form method="GET" action="../personalisation.php">
        <fieldset>
            <legend>Mon formulaire :</legend>
            <p>
                <INPUT type= "radio" name="pagePref" value="replique"> voiture
                <INPUT type= "radio" name="pagePref" value="utilisateur"> utilisateur
                <INPUT type= "radio" name="pagePref" value="trajet"> trajet
            </p>
            <p>
                <input type="submit" value="Envoyer" />
            </p>
        </fieldset> 
    </form>
</body>
</html>